.popup {
   position: fixed;
   top: 20%;
   left: calc(50% - 250px);
   width: 500px;
   border: 1px solid black;
   box-shadow: 0 0 5px black;
   border-radius: 5px;
   background-color: white;
   padding: 20px;
   @media(max-width: 625px){
      width: 80%;
      left: 10%;
   }

   // .popup__title

   &__title {
      font-size: 21px;
      font-weight: 500;
      @media(max-width: 625px){
         margin-top: 15px;
      }
   }

   // .popup__close-btn

   &__close-btn {
      position: absolute;
      top: 9px;
      right: 17px;
      color: red;
      cursor: pointer;
   }

   // .popup__icon

   &__icon {
      font-size: 80px;
      flex: 0 0 auto;
      margin-right: 25px;
      @media(max-width: 625px){
         font-size: 105px;
         margin: 0;
      }
   }

   // .popup__field

   &__field {
      flex: 1 1;
      height: 40px;
      font-size: 17px;
      margin-top: 18px;
      padding-left: 10px;
      border-radius: 5px;
      @media(max-width: 625px){
         flex-basis: 100%;
         margin-top: -5px;
      }
   }

   // .popup__field-elem

   &__field-elem{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 25px;
      @media(max-width: 625px){
         flex-wrap: wrap;
         margin: 0 15px 40px;
      }
   }

   // .popup__actions

   &__actions {
      justify-content: flex-end;
      padding-right: 11px;
      @media(max-width: 625px){
         padding-right: 0;
      }
   }

   // .popup__action-btn

   &__action-btn {
      margin: 0 6px;
      font-size: 20px;
      @media(max-width: 625px){
         margin-right: 0;
         margin-left: 10px;
      }
   }
}