.side-menu {
   position: fixed;
   top: 0;
   left: -100%;
   width: 370px;
   height: 100%; 
   transition: 0.3s;
   padding-top: 73px;
   @media(max-width: 400px){
      width: 100%;
   }

   // .side-menu__close

   &__close{
      top: -55px;
      right: calc(50% - 60px);
      position: absolute;
      @include perfect-center;
      border: 1px solid white;
      background: #003049;
      color: white;
      border-radius: 3px;
      @include square(40px);
      font-size: 18px;
      cursor: pointer;
      width: 120px;
   }

   // .side-menu__inner

   &__inner{
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
   }

   // .side-menu__title

   &__title {
      display: flex;
      align-items: center;
      color: white;
      padding: 20px 10%;
   }

   // .side-menu__title-ic

   &__title-ic {
      flex: 0 0 auto;
      font-size: 30px;
      margin-right: 15px;
      display: none;
   }

   // .side-menu__title-txt

   &__title-txt {
      flex: 1 0;
      font-weight: 500;
      font-size: 22px;
   }

   // .side-menu__title-actions

   &__title-actions {
      flex: 0 0 auto;
   }

   // .side-menu__action

   &__action {
   }

   // .side-menu__item

   &__item {
      // padding: 15px 25px;
      transition: 0.1s;
      position: relative;
      width: 83%;
      margin: 10px auto;
      border-radius: 12px;
      background: white;
      border: 1px solid black;
      overflow: hidden;
      &:hover{
         background: #89c2d9;
      }

      &.is-active{
         background: #7fc8f8;
         background: #61a5c2;
         color: white;
      }

      .menu-item__txt{
         padding: 15px 0 15px 25px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         max-width: 66%;
         flex: 1;
         padding-right: 10px;
      }
      .actions{
         padding: 15px 10px 15px 0;
      }
   }
}

@import '../../state/side-menu/is-open';