.loader{
   z-index: 200;

   &__screen{
      @include layer;
      z-index: 1;
      opacity: .5;
      background-color: #000;
   }

   &__modal{
      position: fixed;
      border: 1px solid #000000b8;
      background: white;
      border-radius: 12px;
      top: 20%;
      left: calc(50% - 110px);
      width: 220px;
      padding: 20px;
      text-align: center;
      @include perfect-center;
      flex-direction: column;
      max-height: 266px;
      z-index: 2;
   }
   &__loader{}
   &__info{
      font-size: 20px;
      margin-top: 20px;
   }
}