.file {
   @include layer;
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 100vh;
   transition: top 0.3s;

   // .file__header

   &__header {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      border-bottom: 1px solid black;
      background: white;
   }

   // .file__name-field

   &__name-field {
      flex: 1 1;
      border: none;
      font-size: 20px;
      padding: 0 20px;
      height: 70px;
      min-width: 0;
   }

   // .file__actions

   &__actions {
      flex: 0 0 auto;
      margin: 0 30px;
      @media(max-width: 920px){
         margin: 0 15px;
      }
   }

   // .file__action

   &__action {
      @include square(45px);
      font-size: 20px;
      @include perfect-center;
   }

   // .file__body

   &__body {
      flex: 1 0;
      position: relative;
   }

   // .file__textarea

   &__textarea {
      width: 100%;
      height: 100%;
      border: none;
      padding: 20px;
      font-size: 25px;
   }

   // .file__status

   &__status{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 5px 0;
      text-align: center;
      font-size: 20px;
      background: white;
      display: none;
      &.active{
         display: block;
      }

      &.succes{
         background: #0ced0c;
      }
      &.fail{
         background: red;
      }
   }
}

@import '../../state/file/active';